body {
	background-color: silver;
}
#loading {
	position: fixed;
	top: 17%;
	width: 100%;
	text-align: center;
}

#text {
	clear: both;
	color: #222222;
	font-family: "Tahoma", "Arial", sans-serif;
	font-size: 25px;
	width: 100%;
	padding-top: 24px;
}
